<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GRIDSuite" parallel="tests" thread-count="4"> <!-- parallel=methods -->

    <test name="Test1">
        <parameter name="browser" value="CHROME"/>
            <classes>
                <class name="tests.dockerSeleniumGridTest">
                    <methods>
                        <include name="googleOnCHROMETest"/>
                    </methods>
                </class>
            </classes>
    </test>

    <test name="Test2">
        <parameter name="browser" value="FIREFOX"/>
            <classes>
                <class name="tests.dockerSeleniumGridTest">
                    <methods>
                        <include name="linkedInOnFIREFOXTest"/>
                    </methods>
                </class>
            </classes>
    </test>

    <test name="Test3">
        <parameter name="browser" value="EDGE"/>
            <classes>
                <class name="tests.dockerSeleniumGridTest">
                    <methods>
                        <include name="gmailOnEdgeTest"/>
                    </methods>
                </class>
            </classes>
    </test>

    <test name="Test4">
        <parameter name="browser" value="CHROME"/>
            <classes>
                <class name="tests.dockerSeleniumGridTest">
                    <methods>
                        <include name="facebookOnCHROMETest"/>
                    </methods>
                </class>
            </classes>
    </test>

</suite>